<div class="container">
    <div class="row">
        <div class="col-lg-6 ml-auto mr-auto">
            <ng-template #noSets>
                <p class="blue-grey-text">no sets saved yet</p>
            </ng-template>
            <div *ngIf="noteSets.length > 0; else noSets">
                <p class="h2-responsive">
                    saved sets
                    <small class="float-right">
                        <a
                            (click)="deleteAll()"
                            mdbTooltip="delete&nbsp;all&nbsp;sets"
                            placement="top"
                        >
                            <mdb-icon far icon="trash-alt"></mdb-icon>
                        </a>
                    </small>
                </p>
                <div class="row">
                    <div
                        class="grid-cell col-sm-6 col-md-4 col-lg-3 p-2"
                        *ngFor="let noteSet of noteSets; let i = index"
                        [attr.data-index]="i"
                    >
                        <div>
                            <span
                                class="h2-responsive"
                                [innerHTML]="noteSet.name"
                            >
                            </span>
                            <a
                                class="float-right"
                                (click)="deleteSet(i)"
                                mdbTooltip="delete&nbsp;set"
                                placement="top"
                            >
                                <mdb-icon far icon="trash-alt"></mdb-icon>
                            </a>
                        </div>
                        <p>
                            <small>mode</small> {{ noteSet.mode.name }}
                            <br />
                            <small>chord</small> {{ noteSet.chord }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pre>
    {{noteSets | json}}
</pre>
