<app-note-builder></app-note-builder>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-8">
            <table mdbTable>
                <thead>
                    <tr>
                        <th colspan="2">Saved chords</th>
                    </tr>
                </thead>
                <tbody>
                    <tr mdbTableCol>
                        <td>G</td>
                        <td>maj : maj7</td>
                    </tr>
                    <tr mdbTableCol>
                        <td>E</td>
                        <td>min : min7b5</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
